.android-cardStyle {
    background-color: #035599;
    color: rgb(237,237,237);
    margin: 20 15 40 15;
    elevation: 40;
    radius: 40;
}

.ios-cardStyle {
    background-color: #035599;
    color: rgb(237,237,237);
    margin: 20 15 40 15;
    elevation: 40;
    radius: 15;
}

.prev-button
{
    width: 65%;
    height: 50;
    horizontal-align: left;
    margin: 0 0 15 15;
}

.next-button
{
    width: 65%;
    height: 50;
    horizontal-align: right;
    margin: 0 15 15 0;
}
.picker {
    width: 200;
    height: 100;
    vertical-align: middle;
}
