<Page>
<ActionBar title="Sign In"></ActionBar>
    <StackLayout>
        <Image src="~/images/PSU_Logo.png" stretch="aspectFit" width="300" class="logo"></Image>
        <StackLayout class="form">
            <StackLayout class="input-field">
                <TextField id ="email" class="" hint="Username" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <TextField id="password" class="" hint="Password" autocorrect="false" autocapitalizationType="none" secure="true"></TextField>
            </StackLayout>
            <Button text="Sign In" class="signin-button"></Button>

        </StackLayout>
    </StackLayout>
</Page>
