<ActionBar title="Open Ended Question"></ActionBar>
<ScrollView orientation="vertical">
    <DockLayout>
        <StackLayout dock="top">
            <CardView dock="top" android:class="android-cardStyle" ios:class="ios-cardStyle">
                <label class = "h2" [text]='text' textWrap="true" margin = "10"></label>
            </CardView>
            <StackLayout marginLeft="15" marginRight="15">
                <CardView dock="top" android:class="android-answer" ios:class="ios-answer">
                    <TextField hint = "Enter your response" [text]='input' textWrap ="true" ios:class="ios-textfield" (textChange)="onTextChanged($event)"></TextField>
                </CardView>
            </StackLayout>
        </StackLayout>
        <DockLayout dock="bottom" verticalAlignment="bottom">
            <DockLayout dock="bottom" height="70">
                <DockLayout width="50%">
                    <Button text="Previous" [visibility]="prev_button_hidden ? 'hidden' : 'visible'" (tap)="previousButtonTapped()" android:class="android-default-button prev-button" ios:class="ios-default-button prev-button"></Button>
                </DockLayout>
                <DockLayout width="50%">
                    <Button text="{{next_button_text}}" (tap)="nextButtonTapped()" android:class="android-default-button next-button" ios:class="ios-default-button next-button"></Button>
                </DockLayout>
            </DockLayout>
        </DockLayout>
    </DockLayout>
</ScrollView>