.cardStyle {
    background-color: #035599;
    color: rgb(237,237,237);
    margin: 20 15 40 15;
    elevation: 40;
    /*width: 350;*/
    /*height: 350;*/
    radius: 40;
}

.prev-button
{
    width: 50%;
    height: 50;
    horizontal-align: left;
    margin: 0 0 15 15;
    /*margin: 0 30 0 15;*/
}

.next-button
{
    width: 50%;
    height: 50;
    horizontal-align: right;
    margin: 0 15 15 0;
    /*margin: 0 15 0 30;*/
}
