.android-default-button
{
    background-color: #035599;
    color: white;
    text-transform: capitalize;
    border-radius: 30px;
    font-size: 20;
}

.ios-default-button
{
    background-color: #035599;
    color: white;
    text-transform: capitalize;
    border-radius: 25px;
    font-size: 20;
    padding: 12 0 12 0;
}

.h1{
    font-size: 30;
    color: #035599;
}
.h2{
    font-size: 30;
    color: rgb(237,237,237);
}
.h3{
    font-size:14;
    color: #035599;
}
.h4{
    font-size:19;
    color:#035599;
}

*{
    font-family: SF-Pro-Display-Semibold;
}